{% extends 'base.html' %}
{% block pagetitle %}Products{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">EAN</th>
            <th scope="col" class="text-end" style="width: 10rem">Price</th>
            <th scope="col" class="text-center">Visible</th>
            <th scope="col" class="text-center">Has Alcohol</th>
            <th scope="col" class="text-center">Is Food</th>
            <th scope="col">
                <div class="row">
                    <a role="button" class="btn btn-success btn-sm col mx-1" href="{{ url_for('admin.products.add') }}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.ean }}</td>
                <td class="text-end">{{ product.price | format_currency }}</td>
                <td class="text-center">{{ macro.render_bool(product.visible) }}</td>
                <td class="text-center">{{ macro.render_bool(product.has_alc) }}</td>
                <td class="text-center">{{ macro.render_bool(product.is_food) }}</td>
                <td>
                    <div class="row">
                        <a role="button" class="btn btn-primary btn-sm col mx-1"
                           href="{{ url_for('admin.products.edit', product_id=product.id) }}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button type="button" class="btn btn-danger btn-sm col mx-1" data-bs-toggle="modal"
                                data-bs-target="#delete{{ product.id }}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for product in products %}
        <div class="modal fade" id="delete{{ product.id }}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete{{ product.id }}">Confirm delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the product "{{ product.name }}"?
                    </div>
                    <div class="modal-footer">
                        <a role="button" class="btn btn-danger"
                           href="{{ url_for('admin.products.delete', product_id=product.id) }}">
                            Confirm
                        </a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}