{% extends 'base.html' %}
{% block pagetitle %}
    {% if edit %}
        Benutzer bearbeiten
    {% else %}
        Benutzer anlegen
    {% endif %}
{% endblock %}


{% block content %}
    <div class="d-flex justify-content-center">
        <form class="w-50" method="post" action="{{ url_for('admin.users.post') }}">
            {{ form.csrf_token }}
            {% if edit %}
                {{ macro.render_field(form.id) }}
            {% endif %}
            {{ macro.render_field(form.name) }}
            {% if not edit %}
            <div class="mb-3">
                <div class="form-floating">
                    {{ form.new_tag_uid(class="form-control") }}
                    {{ form.new_tag_uid.label }}
                </div>
                <div class="form-text">Optional: RFID-Tag wird sofort zugewiesen.</div>
            </div>
            {% endif %}
            <div class="row g-3 mb-3">
                <div class="col-9">
                    <div class="form-floating">
                        {{ form.pin(class="form-control") }}
                        {{ form.pin.label }}
                    </div>
                </div>
                <div class="col-3 p-3">
                    <div class="form-check">
                        {{ form.unset_pin(class="form-check-input") }}
                        {{ form.unset_pin.label }}
                    </div>
                </div>
            </div>
            {{ macro.render_checkbox(form.isop) }}
            {{ macro.render_checkbox(form.active) }}
            <div class="row mt-3">
                <button type="submit" class="col mx-3 btn btn-success">
                    {% if edit %}
                        Aktualisieren
                    {% else %}
                        Anlegen
                    {% endif %}
                </button>
                <a role="button" href="{{ url_for('admin.users.index') }}" class="col mx-3 btn btn-secondary">Abbrechen</a>
            </div>
        </form>
    </div>
{% endblock %}
